.env
data
*.log
*.gz
**/.idea
**/node_modules
**/__pycache__

api/proto/*.py
api/proto/*.pyi
protobuf/generated
processor/proto/*.py
processor/proto/*.pyi
storage-connector/proto/*.py
storage-connector/proto/*.pyi
