html, body, #root, #root>section {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-btn.addon-button {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  line-height: 0;
}

.ant-btn.no-pad {
  padding: 0;
}

.ant-btn-primary.btn-green,
.ant-btn-primary.btn-green:active,
.ant-btn-primary.btn-green:hover {
  background-color: #00b300;
}

.ant-btn-primary.btn-green:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.ant-btn-primary.btn-green:focus-visible {
  outline: 4px solid #00e600;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}